@model ChatDoMhund.Models.ViewModels.ChatIndexViewModel
@{
    this.Layout = null;
}
<div class="chat-footer">
    <form onsubmit="enter_chat();" action="javascript:void(0);">
        <div class="row valign-wrapper">
            <div class="input-field col s10">
                <label for="mensagem">Escreva a sua mensagem</label>
                <textarea type="text" class="message mb-0 hoverable" name="mensagem" id="mensagem" disabled="disabled"></textarea>
            </div>
            @*<i class="material-icons mr-2">face</i>
                <i class="material-icons mr-2">attachment</i>*@
            <div class="col s2">
                @*<a class="btn waves-effect waves-light border-round send gradient-45deg-green-teal hoverable"*@
                <a class="btn btn-floating waves-effect waves-light border-round hoverable mb-0"
                   id="sendButton">
                    <i class="material-icons">send</i>
                </a>
            </div>
        </div>
    </form>
</div>