@using ChatDoMhundStandard.Tratamento
@using HelperSaeStandard11.Models.Extension
@model ChatDoMhund.Models.ViewModels.ChatIndexViewModel
@{
	this.Layout = null;
}
<div class="sidebar-left sidebar-fixed animate fadeUp animation-fast">
	<div class="sidebar animate fadeUp">
		<div class="sidebar-content">
			<div id="sidebar-list" class="sidebar-menu chat-sidebar list-group position-relative">
				<div class="sidebar-list-padding app-sidebar sidenav" id="chat-sidenav">
					<!-- Sidebar Header -->
					<div class="sidebar-header">
						<div class="row valign-wrapper">
							<div class="col s2 media-image pr-0">
								<img foto-do-usuario-logado src="@FotoTrata.ToBase64String(null)" alt="" class="circle z-depth-2 responsive-img">
							</div>
							<div class="col s10">
								<p class="m-0 blue-grey-text text-darken-4 font-weight-700">@this.Model.UsuarioLogado.Nome.GetPrimeiroEUltimoNome()</p>
								<p class="m-0 info-text">@TipoDeUsuarioDoChatTrata.TipoExtenso(this.Model.UsuarioLogado.TipoDeUsuario)</p>
							</div>
						</div>
					</div>
					<!--/ Sidebar Header -->
					<!-- Sidebar Search -->
					<div class="sidebar-search animate fadeUp">
						<div class="search-area  hoverable border-round">
							<i class="material-icons search-icon">search</i>
							<input type="text" placeholder="Pesquisar" class="app-filter" id="chat-filter">
						</div>
						<div class="add-user">
							<a href="#" nova-conversa class="hoverable border-round">
								<i class="material-icons mr-2 add-user-icon">person_add</i>
							</a>
						</div>
					</div>
					<!--/ Sidebar Search -->
					<!-- Sidebar Content List -->
					<div class="sidebar-content sidebar-chat ps ps--active-y">
						<div class="chat-list"></div>
						<div id="no-data-listed" class="center-align" style="display: none;">
							Nenhum chat iniciado. Toque/Clique em <i class="material-icons tiny">person_add</i> e escolha alguém para iniciar uma nova conversa.
						</div>
						<div id="no-data-found" class="no-data-found">
							<h6 class="center">Nenhum resultado encontrado</h6>
						</div>
						@*<div class="ps__rail-x" style="left: 0px; bottom: 0px;">
							<div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
						</div>
						<div class="ps__rail-y" style="top: 0px; height: 208px; right: 0px;">
							<div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 69px;"></div>
						</div>*@
					</div>
					<!--/ Sidebar Content List -->
				</div>
			</div>
		</div>
	</div>
</div>