@using ChatDoMhund.Models.Tratamento
@model ChatDoMhund.Models.ViewModels.ChatIndexViewModel
@inject GroupBuilder _groupBuilder

<link rel="stylesheet" type="text/css" href="@this.Model.Routes.Helper/materialize/css/pages/app-chat.css">

<input type="hidden" value="@this._groupBuilder.GetGroupName()" id="group-name-usuario-logado" />

<div class="chat-application">
	<div class="chat-content-head">
		<div class="header-details">
			<div class="row">
				<div class="col s6">
					<h5 class="m-0 sidebar-title"><i class="material-icons app-header-icon text-top">mail_outline</i> Chat</h5>
				</div>
				<div class="col s6">
					<a class="waves-effect waves-block waves-light toggle-fullscreen right" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="app-chat">
		<div class="content-area content-right">
			<div class="app-wrapper">
				<a href="#" data-target="chat-sidenav" class="sidenav-trigger hide-on-large-only">
					<i class="material-icons">menu</i>
				</a>
				<div class="card card card-default scrollspy border-radius-6 fixed-width">
					<div class="card-content chat-content p-0">
						<partial name="_Sidebar" model="this.Model" />
						<partial name="_Content" model="this.Model" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="@this.Model.Routes.Helper/materialize/js/scripts/app-chat.min.js"></script>
<script src="~/js/app/chat/mensagem.js"></script>
<script src="~/js/app/chat/conversa.js"></script>
<script src="~/js/app/chat/hub.js"></script>
<script src="~/js/app/chat/controller.js"></script>
<script src="~/js/app/chat/conversas.js"></script>
<script src="~/js/app/chat/view.js"></script>